<div class="modal" id="login-modal">
  <ion-content>

    <!-- Login first screen -->

    <div ng-hide="loginFormDisplayed || registerFormDisplayed">
      <h1 class="title">
        <span>Entrar</span>
      </h1>

      <p class="text-center">
        <span class="avatar avatar-inline avatar-lg"></span>
      </p>

      <p class="text-center">
        <a ripple class="button icon-left ion-person-add button-positive" ng-click="displayRegisterForm('user')">Cadastrar Usuário</a>
      </p>

      <p class="text-center">
        <a class="button icon-left ion-person button-stable" ng-click="displayLoginForm()">Já tenho conta</a>
        <br />
        <small>são aceitos usuários cadastrados no <em>Juventude.gov.br</em></small>
      </p>

      <hr />

      <p class="text-center">
        <!-- <a class="button icon-left ion-person-stalker button-balanced" ng-click="displayRegisterForm('conference')">Cadastrar Conferência</a> -->
      </p>
    </div>

    <!-- Login form -->

    <form ng-submit="Login(data)" ng-show="loginFormDisplayed">
      <h1 class="title">
        <span>Entrar</span>
        <a class="back icon-left ion-reply" ng-click="backToLoginHome()">Voltar</a>
      </h1>

      <div class="list">
        <div class="list list-inset">

          <label class="item item-input">
            <input type="text" placeholder="Usuário" ng-model="data.login">
          </label>

          <label class="item item-input">
            <input type="password" placeholder="Senha" ng-model="data.password">
          </label>

        </div>
        <p class="text-center">
          <button class="button button-calm" type="submit">Entrar</button>
        </p>

        <div class="login-actions">
          <a ng-click="forgotPassword(data.login)">Esqueceu a senha?</a>
          <a ng-click="displayRegisterForm('user')">Criar conta</a></p>
        </div>
      </div>
    </form>

    <!-- Register form -->

    <form ng-submit="Register(data)" ng-show="registerFormDisplayed" class="register-form" novalidate>
      <h1 class="title">
        <span>Registrar</span>
        <a class="back icon-left ion-reply" ng-click="backToLoginHome()">Voltar</a>
      </h1>

      <div class="list">
        <div class="list list-inset">

          <label class="item item-input">
            <input type="text" placeholder="E-mail" ng-model="data.email" required ng-blur="setLoginBasedOnEmail()"
                   onblur="var $l=document.getElementById('lf'); if ($l.value == '') $l.value=ConfJuvAppUtils.normalizeLogin(this.value);">
          </label>
          
          <label class="item item-input">
            <input type="text" id="lf" placeholder="Nome de usuário" required ng-model="data.login"
                   onchange="this.value=ConfJuvAppUtils.normalizeLogin(this.value)">
          </label>
          <p><small>Espaços, letras maiúsculas ou acentos <b>não</b> são permitidos</small></p>

          <ng-include src="'html/_signup_person_fields.html'"></ng-include>

          <ng-include src="'html/_select_state.html'"></ng-include>

          <p class="disclaimer">Ao se cadastrar, você concorda com os <span onclick="window.open(ConfJuvAppConfig.noosferoApiHost + '/site/terms', '_system')">Termos de Uso do Juventude.gov.br</span> e com o <span onclick="window.open(ConfJuvAppConfig.noosferoApiHost + '/' + ConfJuvAppConfig.noosferoStatutePath, '_system')">Regimento da Conferência</span></p>

          <label class="item item-input"><input type="password" placeholder="Senha" ng-model="data.password"></label>
          <label class="item item-input"><input type="password" placeholder="Confirmar senha" ng-model="data.password_confirmation"></label>

        </div>

        <p class="text-center">
          <button class="button button-royal" type="submit">Salvar</button>
        </p>
      </div>
    </form>
  </ion-content>
</div>
